/.well-known/
/cgi-bin/
/.htaccess
/index_NWdeafult.html
/php090/db.php
/php090/NewOccurrenceCheck.php
/php090/NewOccurrenceSubmit.php
/php090/NewUserCheck.php
/php090/NewUserForm.php
/php090/Porseguld.php
/php090/db.php
/php090/error_log
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/dbnavigator.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/snapseatlas_dk.iml
/.idea/vcs.xml
